
@{
    ViewBag.Title = "PDF";
}
<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c4 {
            border-right-style: solid;
            padding: 0pt 3.5pt 0pt 3.5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: bottom;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 300.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c19 {
            border-right-style: solid;
            padding: 0pt 3.5pt 0pt 3.5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: bottom;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 120.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c15 {
            border-right-style: solid;
            padding: 0pt 3.5pt 0pt 3.5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: bottom;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 190.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c22 {
            border-right-style: solid;
            padding: 0pt 3.5pt 0pt 3.5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: bottom;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 110pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c8 {
            border-right-style: solid;
            padding: 0pt 3.5pt 0pt 3.5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 63.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c13 {
            border-right-style: solid;
            padding: 0pt 3.5pt 0pt 3.5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 56.7pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c28 {
            border-right-style: solid;
            padding: 0pt 3.5pt 0pt 3.5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 340.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c26 {
            border-right-style: solid;
            padding: 0pt 3.5pt 0pt 3.5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 283.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c31 {
            border-right-style: solid;
            padding: 0pt 3.5pt 0pt 3.5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: middle;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 72pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c17 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Verdana";
            font-style: normal
        }

        .c16 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Calibri";
            font-style: normal
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Verdana";
            font-style: normal
        }

        .c34 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Verdana";
            font-style: normal
        }

        .c18 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Verdana";
            font-style: normal
        }

        .c0 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Verdana";
            font-style: normal
        }

        .c12 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 9pt;
            font-family: "Calibri";
            font-style: normal
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 8pt;
            line-height: 1.0791666666666666;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c5 {
            color: #2e75b5;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Calibri";
            font-style: italic
        }

        .c35 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c11 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Calibri";
            font-style: normal
        }

        .c14 {
            padding-top: 0pt;
            padding-bottom: 8pt;
            line-height: 1.0791666666666666;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c24 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0791666666666666;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c32 {
            padding-top: 35.4pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c29 {
            padding-top: 0pt;
            padding-bottom: 35.4pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c27 {
            padding-top: 0pt;
            padding-bottom: 8pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c21 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c3 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c10 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
            height: 11pt
        }

        .c33 {
            margin-left: auto;
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }

        .c37 {
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }

        .c36 {
            background-color: #ffffff;
            max-width: 441.9pt;
            padding: 70.8pt 85pt 70.8pt 85pt
        }

        .c2 {
            font-size: 9pt;
            font-family: "MS Gothic";
            font-weight: 400
        }

        .c30 {
            margin-left: 35.4pt;
            text-indent: 35.4pt
        }

        .c23 {
            height: 14pt
        }

        .c7 {
            height: 15pt
        }

        .c20 {
            height: 11pt
        }

        .c25 {
            font-size: 9pt
        }

        .c6 {
            height: 10pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Calibri"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Calibri"
        }

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>

<body class="c36">
    <div>
        <p class="c20 c32"><span class="c16"></span></p>
        <a id="t.59d7f0c92289e81f7d5c09f95313a660811d1f59"></a>
        <a id="t.1"></a>
        <table class="c37">
            <tbody>
                <tr class="c23">
                    <td class="c13" colspan="1" rowspan="2">
                        <p class="c3"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 59.13px; height: 31.47px;"><img alt="Logooficial" src="images/image1.png" style="width: 59.13px; height: 39.03px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
                    </td>
                    <td class="c26" colspan="1" rowspan="2">
                        <p class="c21"><span class="c0">Formulario de Registro</span></p>
                    </td>
                    <td class="c8" colspan="1" rowspan="1">
                        <p class="c3"><span class="c17">Versi&oacute;n</span></p>
                    </td>
                    <td class="c31" colspan="1" rowspan="1">
                        <p class="c21" id="h.gjdgxs"><span class="c18">1.2</span></p>
                    </td>
                </tr>
                <tr class="c23">
                    <td class="c8" colspan="1" rowspan="1">
                        <p class="c3"><span class="c17">Vigencia</span></p>
                    </td>
                    <td class="c31" colspan="1" rowspan="1">
                        <p class="c21"><span class="c18">18/04/2017</span></p>
                    </td>
                </tr>
                <tr class="c6">
                    <td class="c28" colspan="2" rowspan="1">
                        <p class="c21"><span class="c9">Tareas de Ingenier&iacute;a en ambientes de Producci&oacute;n</span></p>
                    </td>
                    <td class="c8" colspan="1" rowspan="1">
                        <p class="c3"><span class="c17">P&aacute;gina</span></p>
                    </td>
                    <td class="c31" colspan="1" rowspan="1">
                        <p class="c21 c20"><span class="c18"></span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="c3 c20"><span class="c16"></span></p>
        <p class="c3 c20"><span class="c16"></span></p>
    </div>
    <p class="c10"><span class="c35"></span></p>
    <a id="t.924109363e4656d77abe9d92c1a1d49625870f68"></a>
    <a id="t.0"></a>
    <table class="c33">
        <tbody>
            <tr class="c7">
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c3"><span class="c11">Fecha de solicitud</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c3"><span class="c16">&nbsp;</span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c21"><span class="c11">&Aacute;rea</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c3"><span class="c11">Responsable</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c3"><span class="c16">&nbsp;</span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c3"><span class="c16">&nbsp;</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c3"><span class="c11">Cargo</span></p>
                </td>
                <td class="c4" colspan="2" rowspan="1">
                    <p class="c21"><span class="c16">&nbsp;</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c3"><span class="c11">Tarea o acci&oacute;n a realizar</span></p>
                </td>
                <td class="c4" colspan="2" rowspan="1">
                    <p class="c21"><span class="c16">&nbsp;</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c3"><span class="c11">Motivo</span></p>
                </td>
                <td class="c4" colspan="2" rowspan="1">
                    <p class="c21"><span class="c16">&nbsp;</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c3"><span class="c11">Fecha y hora de ejecuci&oacute;n programada</span></p>
                </td>
                <td class="c4" colspan="2" rowspan="1">
                    <p class="c20 c21"><span class="c16"></span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c21"><span class="c25">Por atenci&oacute;n de incidente </span><span class="c2">&#9744;</span><span class="c25">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Tareas rutinarias de mantenimiento</span><span class="c2">&#9744;</span><span class="c25">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actualizaci&oacute;n, mejora o cambio</span><span class="c2">&#9744;</span></p>
    <p class="c3 c20"><span class="c16"></span></p>
    <p class="c27"><span class="c11">Descripci&oacute;n actual o antes de efectuar la tarea descrita:</span></p>
    <p class="c14"><span class="c5">Incluir pantallas capturadas, fotos u otros relevantes que justifiquen el motivo de las acciones que se desean realizar</span></p>
    <p class="c1"><span class="c5"></span></p>
    <p class="c14"><span class="c11">Detalle de los efectos colaterales en los sistemas en producci&oacute;n asociados:</span></p>
    <p class="c14"><span class="c5">Describir qu&eacute; efectos tendr&aacute; y el tiempo estimado de reposici&oacute;n o restablecimiento, en caso de ser una tarea programada</span></p>
    <p class="c1"><span class="c5"></span></p>
    <p class="c1"><span class="c5"></span></p>
    <p class="c14"><span class="c11">Resultado posterior a la ejecuci&oacute;n de la tarea descrita:</span></p>
    <p class="c14"><span class="c5">Incluir pantallas capturadas, fotos u otros relevantes que detallen el efecto tras las acciones realizadas </span></p>
    <p class="c1"><span class="c5"></span></p>
    <p class="c1"><span class="c11"></span></p>
    <p class="c1"><span class="c11"></span></p>
    <p class="c24"><span class="c11">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;______________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_______________________</span></p>
    <p class="c24 c30"><span class="c11">Nombre y firma solicitante&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nombre y firma autorizador</span></p>
    <p class="c1"><span class="c11"></span></p>
    <p class="c1"><span class="c11"></span></p>
    <p class="c1"><span class="c16"></span></p>
    <div>
        <p class="c20 c29"><span class="c16"></span></p>
    </div>
</body>

</html>



